<style>
  body {
    background: #eee;
  }
</style>
<div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>App Login</h1><br>
          <div class="loginAppError" style="color:red"></div>
          <form>
          <input type="text" name="user" placeholder="Username" ng-model="loginInfo.username">
          <input type="password" name="pass" placeholder="Password" ng-model="loginInfo.password">
          <input type="submit" name="login" class="login loginmodal-submit" value="Login" ng-click="loginUser()">
          </form>
          <!--<div style="text-align:center;color:red">demoUser : falcon<br>Pass: falcon007</div>-->
        </div>
      </div>
      </div>